@import './base.css';

#app {
  flex-direction: row;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 850px;
}

a,
.title {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.4s;
}

